<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성적 프로그램</title>
</head>
<body>
    <h2>성적 프로그램</h2>
    <div class="container">
        <div class="left content">
            <h3>성적 입력하기</h3>
            <form method="post" action="{{url_for('add_score')}}">
                이름
                <input type="text" name="sname" required><br>
                국어
                <input type="text" name="kor" required><br>
                영어
                <input type="text" name="eng" required><br>
                수학
                <input type="text" name="mat" required><br>
                <button type="submit">입력하기</button>
            </form>
        </div>
        <div class="right content">
            <h3>전체 성적</h3>
            {% if not score_list %}
            <p class="noti">입력된 성적이 존재하지 않습니다.</p>
            {% else %}
            <table>
                <tr>
                    <th>이름</th>
                    <th>국어</th>
                    <th>영어</th>
                    <th>수학</th>
                    <th>총점</th>
                    <th>평균</th>
                    <th>석차</th>
                </tr>
                {% for s in score_list %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{s[2]}}</td>
                    <td>{{s[3]}}</td>
                    <td>{{s[4]}}</td>
                    <td>{{s[5]}}</td>
                    <td>{{s[6]}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</body>
</html>