<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성적 프로그램</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/check.js') }}"></script>
</head>
<body>
    <h2>성적 프로그램</h2>
    <div class="container">
        <div class="left content">
            <div class="input_part">
                <div class="form_input">
                    <h3>성적 입력하기</h3>
                    <form method="post" action="{{url_for('add_score')}}" onsubmit="return checkScore(this)">
                        이름
                        <input type="text" name="sname" required><br>
                        국어
                        <input type="text" name="kor" required><br>
                        영어
                        <input type="text" name="eng" required><br>
                        수학
                        <input type="text" name="mat" required><br>
                        <button type="submit">입력하기</button>
                    </form>
                </div>
                <div class="csv_input">
                    <h3>성적 입력하기(CSV)</h3>
                    <form method="post" action="{{url_for('add_csv')}}" enctype="multipart/form-data">
                    <input type="file" name="file" accept=".csv,text/csv" required><br>
                    <button type="submit">업로드</button>
                    </form>
                </div>
            </div>
            <h3>과목별 평균</h3>
            <table border="1">
                <tr>
                    <td>국어: {{ means.kor }}</td>
                    <td>영어: {{ means.eng }}</td>
                    <td>수학: {{ means.mat }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img src="{{ img_url }}" alt="과목별 평균 그래프"  style="width: 500px; height: auto;">
                    </td>
                </tr>
            </table>
        </div>
        <div class="right content">
            <h3>전체 성적</h3>
            {% if not score_list %}
            <p class="noti">입력된 성적이 존재하지 않습니다.</p>
            {% else %}
            <table>
                <tr>
                    <th>이름</th>
                    <th>국어</th>
                    <th>영어</th>
                    <th>수학</th>
                    <th>총점</th>
                    <th>평균</th>
                    <th>석차</th>
                </tr>
                {% for s in score_list %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{s[2]}}</td>
                    <td>{{s[3]}}</td>
                    <td>{{s[4]}}</td>
                    <td>{{s[5]}}</td>
                    <td>{{s[6]}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</body>
</html>